<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="BackupDirectory" value="C:\oracle\" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="FromMail" value="xyz@gmail.com" />
    <add key="FromMailDisplayName" value="xxx" />
    <add key="FromMailPassword" value="xxx" />
    <add key="ToMail" value="zyx@hotmail.com" />
    <add key="Subject" value="Yedek işlemi" />
    <add key="Body" value="Tamamlandı." />
    <add key="NoBackupMessage" value="Bugüne ait bakup bulunamadı" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsDeleteArsive" value="1"/>
    <add key="SleepTime" value="5"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>